<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:900&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlightjs-themes@1.0.0/tomorrow.css">
    <link rel="stylesheet" href="/static/css/old/main.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    {% if title %}
    <title>{{ title }} - Fejudge</title>
    {% else %}
    <title>Fejudge</title>
    {% endif %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/welcome">
            <img src="/static/img/favicon.png" class="image-sm"> Fejudge
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link {% if active=='contests' %}active{% endif %}" href="/contests">
                        Контесты
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active=='about' %}active{% endif %}" href="/welcome">
                        Поддержка
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link {% if active=='register' %}active{% endif %}" href="/register">
                        <span class="fa fa-user-plus"></span> Регистрация
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active=='login' %}active{% endif %}" href="/login">
                        <span class="fa fa-user-circle"></span> Вход
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                            <img src="/avatars/{{ current_user.avatar }}" class="rounded-circle image-sm">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <h5 class="dropdown-header">
                                {{ current_user.username }}
                            </h5>
                            <a class="dropdown-item" href="/user/{{ current_user.username }}">
                                Профиль
                            </a>
                            <a class="dropdown-item" href="#">
                                Сообщения
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">
                                Выйти
                            </a>
                        </div>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        <br>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category, message in messages %}
        <div class="alert {{ category }} alert-dismissible fade show">
            {{ message }}
            <button class="close" data-dismiss="alert">&times;</span></button>
        </div>
        {% endfor %}
        {% endwith %}
        {% block app_content %}{% endblock %}
        <br>
        <hr>
        <footer>
            <p>&copy;2019 Fedro Corporation. All rights reserved.</p>
        </footer>
        <br>
    </div>
</body>

</html>
