* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    display: flex;
}

body {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    margin: 0;
    background-color: whitesmoke;
}

input {
    width: 100%;
    outline: none;
}

button {
    outline: none;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z' fill='dimgrey'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 5px);
    background-position-y: calc(50% - 1px);
    outline: none;
}

pre {
    margin: 0;
}

footer {
    text-align: center;
    color: grey;
}

/* Common classes */

.page {
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.flat-link {
    display: inline-block;
    padding: 0;
    border-width: 0;
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    cursor: pointer;
}

.flat-link.hover-underline:hover {
    text-decoration: underline;
}

.link-blue {
    color: deepskyblue;
}

.flat-input {
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-bottom: 1px solid grey;
    font-size: 20px;
}

.input-blue:focus {
    border-color: lightblue;
}

.input-green:focus {
    border-color: lightgreen;
}

.input-error {
    border-color: red !important;
}

.btn-normal {
    display: inline-block;
    padding: 10px 20px;
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid transparent;
    border-radius: 25px;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
}

.btn-normal:hover:not([disabled]) {
    box-shadow: 0 2px 15px lightgrey;
}

.btn-small {
    display: inline-block;
    padding: 7px 13px;
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid transparent;
    border-radius: 20px;
    font-size: 18px;
    line-height: 26px;
    text-decoration: none;
}

.btn-small:hover:not([disabled]) {
    box-shadow: 0 1px 7px lightgrey;
}

.btn-small:disabled {
    color: lightgrey;
    background-color: whitesmoke;
}

.btn-icon {
    display: flex;
    flex-shrink: 0;
    color: rgba(0, 0, 0, 0.8);
    border-width: 0;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 0 5px lightgrey;
    cursor: pointer;
}

.btn-icon span {
    margin: auto;
}

.btn-icon:hover:not([disabled]) {
    box-shadow: 0 0 20px lightgrey;
}

.btn-nav {
    display: inline-block;
    padding: 5px 0;
    margin-right: 20px;
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    border-color: transparent;
    border-width: 2px 0;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}

.btn-nav.active {
    color: deepskyblue;
    border-bottom: 2px solid deepskyblue;
}

.btn-blue {
    background-color: lightblue;
}

.btn-blue:active:not([disabled]) {
    background-color: rgb(125, 188, 209);
}

.btn-green {
    background-color: lightgreen;
}

.btn-green:active:not([disabled]) {
    background-color: rgb(104, 214, 104);
}

.btn-yellow {
    background-color: gold;
}

.btn-yellow:active:not([disabled]) {
    background-color: goldenrod;
}

.btn-white {
    background-color: white;
}

.btn-white:active:not([disabled]) {
    background-color: whitesmoke;
}

.btn-transparent {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

.select-small {
    display: inline-block;
    padding: 7px 30px 7px 15px;
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    font-size: 18px;
    line-height: 26px;
    text-overflow: ellipsis;
    box-shadow: 0 0 1px lightgrey;
}

.select-white {
    background-color: white;
}

.select-white:focus {
    border-color: lightblue;
}

.bg-blue {
    background-color: lightblue;
}

.bg-green {
    background-color: lightgreen;
}

.bg-yellow {
    background-color: gold;
}

.bg-white {
    background-color: white;
}

.bg-whitesmoke {
    background-color: whitesmoke;
}

.bg-grey {
    background-color: lightgrey;
}

.col-blue {
    color: deepskyblue;
}

.col-green {
    color: forestgreen;
}

.col-red {
    color: red;
}

.col-grey {
    color: grey;
}
