*, *::after, *::before {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    display: flex;
}

body {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    margin: 0;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 100%;
    outline: none;
    font-family: inherit;
}

button {
    outline: none;
    font-family: inherit;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    background-image: url(/static/img/arrow-down.svg);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 5px);
    background-position-y: calc(50% - 1px);
    font-family: inherit;
    outline: none;
}

pre {
    margin: 0;
    font-family: inherit;
}

footer {
    text-align: center;
    color: grey;
}

/* Common classes */

.page {
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.link {
    display: inline-block;
    padding: 0;
    border-width: 0;
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    cursor: pointer;
}

.link.hover-underline:hover {
    text-decoration: underline;
}

.link-blue {
    color: deepskyblue;
}

.input {
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-bottom: 1px solid grey;
    font-size: 20px;
}

.input-blue:focus {
    border-color: lightblue;
}

.input-green:focus {
    border-color: lightgreen;
}

.input-error {
    border-color: red !important;
}

.btn {
    display: inline-block;
    padding: 0.4em 0.9em;
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid transparent;
    border-radius: 1.25em;
    line-height: 1.5em;
    text-decoration: none;
}

.btn:hover:not([disabled]) {
    box-shadow: 0 2px 0.5em lightgrey;
}

.btn:disabled {
    color: lightgrey;
    background-color: whitesmoke;
}

.btn-flat {
    display: flex;
    flex-shrink: 0;
    color: rgba(0, 0, 0, 0.8);
    background-color: transparent;
    border-width: 0;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
}

.btn-flat span {
    margin: auto;
}

.btn-nav {
    display: inline-block;
    padding: 0;
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    border-color: transparent;
    border-width: 2px 0;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.btn-nav:hover {
    border-bottom: 2px solid darkgrey;
}

.btn-nav.active {
    color: deepskyblue;
    border-bottom: 2px solid deepskyblue;
}

.btn-blue {
    background-color: lightblue;
}

.btn-blue:hover:not([disabled]) {
    background-color: rgb(149, 208, 228);
}

.btn-blue:active:not([disabled]) {
    background-color: rgb(125, 188, 209);
}

.btn-green {
    background-color: lightgreen;
}

.btn-green:hover:not([disabled]) {
    background-color: rgb(124, 228, 124);
}

.btn-green:active:not([disabled]) {
    background-color: rgb(104, 214, 104);
}

.btn-yellow {
    background-color: gold;
}

.btn-yellow:hover:not([disabled]) {
    background-color: rgb(233, 198, 0);
}

.btn-yellow:active:not([disabled]) {
    background-color: goldenrod;
}

.btn-white {
    background-color: white;
}

.btn-white:hover:not([disabled]) {
    background-color: whitesmoke;
}

.btn-white:active:not([disabled]) {
    background-color: #eeeeee;
}

.btn-transparent:hover:not([disabled]) {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn-transparent:active:not([disabled]) {
    background-color: rgba(0, 0, 0, 0.1);
}

.select {
    display: inline-block;
    padding: 0.4em 2em 0.4em 0.8em;
    color: rgba(0, 0, 0, 0.8);
    background-color: white;
    border-radius: 1.25em;
    line-height: 1.5em;
    text-overflow: ellipsis;
}

.select:hover:not([disabled]) {
    background-color: #fbfbfb;
}

.select-small {
    font-size: 18px;
}

.bg-blue {
    background-color: lightblue;
}

.bg-green {
    background-color: lightgreen;
}

.bg-yellow {
    background-color: gold;
}

.bg-white {
    background-color: white;
}

.bg-whitesmoke {
    background-color: whitesmoke;
}

.bg-grey {
    background-color: lightgrey;
}

.bd-lightgrey {
    border: 1px solid #eeeeee;
}

.col-blue {
    color: deepskyblue;
}

.col-green {
    color: forestgreen;
}

.col-red {
    color: red;
}

.col-grey {
    color: grey;
}
