.box {
    margin-bottom: auto;
    width: 100%;
    font-size: 20px;
    box-shadow: 3px 3px 10px lightgrey;
}

header {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 25px;
}

header h2 {
    margin: 5px auto 5px 5px;
    font-weight: normal;
}

header a {
    margin: 5px;
}

main {
    padding: 25px;
}

main h3 {
    margin: 0 0 30px 0;
    font-weight: normal;
}

main .contest-info {
    font-size: 0.9em;
}

main .actions {
    margin-top: 30px;
}

@media (min-width: 700px) {
    .box {
        margin: auto;
        width: 700px;
        border-radius: 10px;
    }

    header {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    main {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}
