.content {
    display: flex;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
    font-size: 20px;
    box-shadow: 0 0 10px lightgrey;
}

header {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
}

header h2 {
    margin: 0 auto 0 0;
    font-weight: normal;
}

main {
    flex-grow: 1;
}

main .contest-row {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 25px;
    color: inherit;
    border-bottom: 1px solid whitesmoke;
    text-decoration: none;
}

main .contest-row:hover {
    background-color: whitesmoke;
    box-shadow: 0 3px 10px lightgrey;
}

main .contest-row h3 {
    margin: 5px auto 5px 5px;
    font-weight: normal;
}

main .contest-row .contest-details {
    display: flex;
    flex-flow: row;
    margin: 5px;
}

main .contest-row .contest-status {
    font-size: 0.9em;
}
