.content {
    margin: auto;
    font-size: 22px;
    text-align: center;
}

.content h3 {
    font-weight: lighter;
}

.content h1 {
    margin: 40px;
    font-size: 150px;
    letter-spacing: 10px;
}

.content .actions {
    margin: 20px;
}
