#content {
    display: flex;
    flex-flow: row;
    width: 100%;
    background-color: white;
}

#statementsBox {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    flex-basis: 50%;
}

#statementsTitle {
    display: flex;
    flex-flow: row;
    height: 80px;
    border-bottom: 1px solid whitesmoke;
}

#statementsTitle.shadow {
    border-bottom: 1px solid #e9e9e9;
    box-shadow: 0 0 20px lightgrey;
}

#goBack {
    margin: 15px;
    height: 50px;
    width: 50px;
}

#problemInfo {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 10px;
}

#problemId {
    display: none;
}

#problemName {
    padding-right: 20px;
    margin: auto auto auto 0;
    font-size: 25px;
}

#problemLimits {
    display: flex;
    flex-flow: row;
    margin: 0 auto 0 0;
}

#timeLimit {
    padding-right: 20px;
    margin: auto 0 auto 0;
    font-size: 20px;
}

#memoryLimit {
    padding-right: 20px;
    margin: auto 0 auto 0;
    font-size: 20px;
}

#problemScore {
    padding-right: 20px;
    margin: auto 0 auto 0;
    font-size: 20px;
}

#statementsContent {
    position: relative;
    flex-grow: 1;
}

#statementsContentScrollable {
    padding: 20px;
    max-height: 0;
    overflow: auto;
}

#statementsLoading {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
}

#statementsLoadingLabel {
    margin: auto;
}

#statementsBox.collapsed #problemScore {
    display: none;
}

#statementsBox.collapsed #problemLimits {
    margin-right: 0;
}

#extraBox {
    position: relative;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    flex-basis: 50%;
    z-index: 1;
}

#extraBox.collapsed {
    flex: 0;
}

#extraBox.collapsed * {
    display: none;
}

#extraBoxCollapse {
    position: absolute;
    top: 50%;
    left: 0;
    height: 60px;
    width: 30px;
    transform: translateY(-50%);
    padding-left: 3px;
    background-color: white;
    border-radius: 0 30px 30px 0;
    font-size: 16px;
    box-shadow: 0 0 10px lightgrey;
}

#extraBoxCollapse:hover {
    background-color: whitesmoke;
}

#extraBoxCollapse:active {
    background-color: #eee;
}

#extraBox .extra-title {
    position: relative;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    height: 80px;
    border-bottom-width: 1px;
    box-shadow: 0 0 10px lightgrey;
    z-index: 1;
}

#extraBox .extra-content {
    position: relative;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    overflow: auto;
    box-shadow: 0 0 15px -5px lightgrey;
}

#extraBox .extra-box {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}

#submitTitle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    height: 12px;
    width: 12px;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: lightgreen;
}

#submitText {
    padding: 20px;
    margin: auto auto auto 0;
    font-size: 25px;
}

#submitForm {
    padding: 30px 20px 10px 20px;
}

#taskRow, #languageRow, #chooseFileRow, #submitFileRow {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

#taskLabel, #languageLabel, #chooseFileLabel, #submitFileLabel {
    flex-basis: 150px;
    padding: 5px 0;
    margin: auto 10px;
    font-size: 17px;
}

#taskSelect, #languageSelect {
    flex-grow: 1;
    margin-right: 5px;
    width: 200px;
}

#chooseFileInput {
    display: none;
}

#chooseFileButton, #submitFileButton {
    width: 130px;
    text-align: center;
}

#chooseFileName, #submitLoading, #submitSuccess, #submitFail {
    flex-grow: 1;
    padding: 5px 0;
    margin: auto 10px;
    width: 100px;
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#submitSuccess {
    transition: opacity 300ms linear;
}

#submitFail {
    transition: opacity 300ms linear;
}

#submissions {
    padding: 20px;
    border-top: 1px solid whitesmoke;
}

#submissionsLoading {
    display: flex;
    margin: 25px;
}

#submissionsLoadingLabel {
    margin: auto;
}

#submissionsNone {
    margin: 40px;
    font-size: 20px;
    text-align: center;
}

#submissionsTable {
    width: 100%;
    font-size: 16px;
}

#submissionsTable tr {
    vertical-align: middle;
}

#submissionsTable th {
    height: 60px;
}

#submissionsTable td {
    height: 40px;
    text-align: center;
}

#submissionsTable .status {
    min-width: 120px;
}

#submissionsTable .status span {
    vertical-align: middle;
}

#submissionDetailsTitle {
    flex-wrap: nowrap !important;
}

#submissionDetailsTitleMain {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    flex-grow: 1;
}

#submissionDetailsLabel {
    padding: 0 20px;
    margin: auto auto auto 0;
    font-size: 25px;
}

#submissionDetailsNavigation {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    padding-left: 20px;
    margin: -2px auto -2px 0;
}

#submissionDetailsNavigation .btn-nav {
    margin-right: 20px;
}

#submissionDetailsClose {
    height: 80px;
    width: 80px;
    font-size: 20px;
}

#submissionCompiler pre {
    padding: 30px 20px;
    white-space: pre-wrap;
}

#submissionTests {
    padding: 20px;
    overflow-x: auto;
}

#submissionProtocolTable {
    width: 100%;
    font-size: 16px;
}

#submissionProtocolTable tr {
    vertical-align: middle;
}

#submissionProtocolTable th {
    padding: 15px 5px;
    white-space: nowrap;
}

#submissionProtocolTable td {
    padding: 10px 5px;
    text-align: center;
}

#submissionCode {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}

#submissionCode pre {
    flex-grow: 1;
    padding: 30px 20px;
    white-space: pre-wrap;
}

#submissionCodeBottom {
    position: sticky;
    display: flex;
    flex-flow: row;
    bottom: 0;
    height: 80px;
    width: 0;
}

#submissionCodeCopy {
    height: 50px;
    width: 50px;
    margin: 15px;
    font-size: 18px;
}

#submissionCodeCopyHint {
    position: relative;
    flex-shrink: 0;
    padding: 10px 20px 10px 15px;
    margin: auto auto auto 0;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 25px;
    font-size: 18px;
    line-height: 20px;
    opacity: 0;
    box-shadow: 0 0 10px lightgrey;
    transition: opacity 300ms linear;
}

#submissionCodeCopyHint::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 4px;
    height: 16px;
    width: 16px;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: inherit;
}

#contestInfoBox::after {
    content: "";
    position: absolute;
    bottom: 80px;
    left: 100%;
    height: 50px;
    width: 2px;
    background-color: lightblue;
}

#contestInfoLabel {
    padding: 20px;
    margin: auto auto auto 0;
    font-size: 25px;
}

#contestMessagesBox::after {
    content: "";
    position: absolute;
    bottom: 15px;
    left: 100%;
    height: 50px;
    width: 2px;
    background-color: gold;
}

#contestMessagesLabel {
    padding: 20px;
    margin: auto auto auto 0;
    font-size: 25px;
}

#rightBox {
    display: flex;
    flex-flow: column;
    border-left: 1px solid whitesmoke;
}

#submitSection {
    display: flex;
    height: 80px;
    border-bottom: 1px solid whitesmoke;
}

#submitExpand {
    margin: auto;
    height: 50px;
    width: 50px;
    font-size: 16px;
}

#submitExpand span {
    padding-right: 2px;
}

#problemNavigation {
    flex-grow: 1;
    font-size: 20px;
    height: 0;
    overflow-y: auto;
}

#problemNavigation .action {
    height: 50px;
    width: 50px;
    margin: 15px;
}

#problemNavigation .action.active {
    color: white;
    background-color: rgb(21, 148, 252);
    box-shadow: 0 0 10px lightgrey;
}

#infoSection {
    display: flex;
    flex-flow: column;
    text-align: center;
}

#timeRemaining {
    margin: 15px auto 15px auto;
    color: dimgrey;
    font-size: 14px;
}

#contestTimer {
    color: black;
    font-size: 20px;
    line-height: 35px;
}

#viewContestInfo, #viewContestMessages {
    height: 50px;
    width: 50px;
    margin: 0 auto 15px auto;
    font-size: 16px;
}

@media (max-width: 1000px) {
    #statementsBox.collapsed {
        flex: 0;
    }

    #statementsBox.collapsed * {
        display: none;
    }
}

@media (max-width: 750px) {
    #timeLimit, #memoryLimit {
        display: none;
    }
}

@media (max-width: 550px) {
    #chooseFileLabel, #submitFileLabel {
        display: none;
    }

    #submissionsTable .language {
        display: none;
    }
}

@media (max-width: 500px) {
    #problemScore {
        display: none;
    }
}
