.content {
    display: flex;
    flex-flow: row;
    width: 100%;
    background-color: white;
}

#statementsBox {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    flex-basis: 50%;
}

#statementsBox header {
    position: relative;
    display: flex;
    flex-flow: row;
    height: 80px;
    border-bottom: 1px solid whitesmoke;
    z-index: 1;
}

#statementsBox header.shadow {
    border-bottom: 1px solid #e9e9e9;
    box-shadow: 0 0 20px lightgrey;
}

#statementsBox header .problem-actions {
    display: flex;
    flex-flow: row;
    margin: 15px;
}

#statementsBox header .action {
    height: 50px;
    width: 50px;
    font-size: 18px;
}

#statementsBox header .problem-info {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    align-items: center;
    margin: 10px;
}

#problemId {
    display: none;
}

#statementsBox header .problem-name {
    flex-grow: 1;
    width: 0;
    font-size: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#statementsBox header .problem-language {
    display: flex;
    flex-flow: row;
    align-items: center;
}

#statementsBox header .problem-language select {
    margin: 5px;
}

#statementsBox main {
    position: relative;
    flex-grow: 1;
}

#statementsBox main .statements-scrollable {
    padding: 20px;
    max-height: 0;
    overflow: auto;
}

#statementsBox main .statements-header {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto 30px auto;
    max-width: 1024px;
    font-size: 20px;
}

#statementsBox main .time-limit {
    margin: 5px 20px 5px 5px;
}

#statementsBox main .memory-limit {
    margin: 5px auto 5px 5px;
}

#statementsBox main .input-output {
    margin: 5px;
}

#statementsBox main .statements-loading {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
}

#extraBox {
    position: relative;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    flex-basis: 50%;
    z-index: 2;
}

#extraBox.collapsed {
    flex: 0;
}

#extraBox.collapsed > * {
    display: none;
}

#extraBoxCollapse {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 15px 5px;
    font-size: 16px;
    z-index: 1;
}

#extraBox .extra-box {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}

#extraBox .extra-box header {
    position: relative;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    height: 80px;
    border-bottom-width: 1px;
    box-shadow: 0 0 10px lightgrey;
    z-index: 1;
}

#extraBox .extra-box main {
    position: relative;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    overflow: auto;
    box-shadow: 0 0 15px -5px lightgrey;
}

#submitBox::after {
    content: "";
    position: absolute;
    top: 40px;
    left: 100%;
    height: 12px;
    width: 12px;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: lightgreen;
    z-index: 1;
}

#submitBox header {
    align-items: center;
}

#submitBox header h2 {
    margin: 20px;
    font-weight: normal;
}

#submitBox main .submit-form {
    padding: 25px 20px;
    max-width: 800px;
}

#submitBox main .submit-form-row {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}

#submitBox main .submit-form-label {
    flex-basis: 150px;
    margin: 5px 10px;
    font-size: 17px;
}

#submitBox main .submit-form-row select {
    flex-grow: 1;
    width: 200px;
}

#chooseFileInput {
    display: none;
}

#submitBox main .file-button {
    width: 130px;
    font-size: 18px;
    text-align: center;
}

#submitBox main .submit-status {
    flex-grow: 1;
    padding: 5px 0;
    margin: auto 10px;
    width: 100px;
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#submitBox main .submissions {
    position: relative;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    max-width: 800px;
}

#submitBox main .submissions-loading {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
}

#submissionsNone {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

#submissionsTable {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}

#submissionsTable th {
    padding: 20px 10px;
}

#submissionsTable tbody tr {
    height: 45px;
}

#submissionsTable tbody tr:first-child {
    height: 60px;
    transform: scale(1);
    box-shadow: 0 3px 10px lightgrey;
}

#submissionsTable td {
    text-align: center;
}

#submissionsTable .status {
    min-width: 110px;
}

#submissionsTable .status span {
    vertical-align: middle;
}

#submissionDetailsBox header {
    flex-wrap: nowrap !important;
}

#submissionDetailsBox header .title-main {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    flex-grow: 1;
    padding-left: 20px;
}

#submissionDetailsBox header .submission-id {
    flex-grow: 1;
    margin: auto 20px auto 0;
    font-size: 25px;
}

#submissionDetailsBox header .navigation {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    flex-grow: 1;
}

#submissionDetailsBox header .navigation .btn-nav {
    margin-right: 20px;
}

#submissionDetailsBox header .close {
    height: 50px;
    width: 50px;
    margin: 15px;
    font-size: 20px;
}

#submissionProtocol {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}

#submissionProtocol .result {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    padding: 20px;
    border-bottom: 1px solid whitesmoke;
}

#submissionResultStatus {
    margin: 5px auto 5px 5px;
    font-size: 20px;
}

#submissionResultScore {
    margin: 5px;
    font-size: 18px;
}

#submissionProtocol .compilation pre {
    padding: 30px 20px;
    white-space: break-spaces;
}

#submissionProtocol .evaluation {
    overflow-x: auto;
}

#submissionEvaluationTable {
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    font-size: 16px;
}

#submissionEvaluationTable tr {
    vertical-align: middle;
}

#submissionEvaluationTable th {
    padding: 15px;
    white-space: nowrap;
}

#submissionEvaluationTable td {
    padding: 10px 5px;
    text-align: center;
}

#submissionCode {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}

#submissionCode pre {
    flex-grow: 1;
    padding: 30px 20px;
    white-space: break-spaces;
}

#submissionCode .bottom {
    position: sticky;
    display: flex;
    flex-flow: row;
    bottom: 0;
    height: 80px;
    width: 0;
}

#submissionCode .code-copy {
    height: 50px;
    width: 50px;
    margin: 15px;
    font-size: 18px;
    box-shadow: 0 0 15px lightgrey;
}

#submissionCode .code-copy-hint {
    position: relative;
    flex-shrink: 0;
    padding: 10px 20px 10px 15px;
    margin: auto auto auto 0;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 25px;
    font-size: 18px;
    line-height: 20px;
    box-shadow: 0 0 15px lightgrey;
}

#submissionCode .code-copy-hint::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 2px;
    height: 12px;
    width: 12px;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: inherit;
}

#submissionInfo {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}

#submissionInfoTable {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}

#submissionInfoTable td {
    padding: 20px;
    border: 1px solid whitesmoke;
}

#submissionInfoTable td:first-child {
    font-size: 18px;
}

#contestInfoBox::after {
    content: "";
    position: absolute;
    bottom: 80px;
    left: 100%;
    height: 50px;
    width: 2px;
    background-color: lightblue;
}

#contestInfoBox header {
    align-items: center;
}

#contestInfoBox header h2 {
    margin: 20px;
    font-weight: normal;
}

#contestMessagesBox::after {
    content: "";
    position: absolute;
    bottom: 15px;
    left: 100%;
    height: 50px;
    width: 2px;
    background-color: gold;
}

#contestMessagesBox header {
    align-items: center;
}

#contestMessagesBox header h2 {
    margin: 20px;
    font-weight: normal;
}

#rightBox {
    position: relative;
    display: flex;
    flex-flow: column;
    border-left: 1px solid whitesmoke;
    z-index: 1;
}

#rightBox .submit {
    display: flex;
    height: 80px;
    border-bottom: 1px solid whitesmoke;
}

#rightBox .submit button {
    margin: auto;
    height: 50px;
    width: 50px;
    font-size: 16px;
}

#rightBox .submit button span {
    padding-right: 2px;
}

#rightBox .navigation {
    flex-grow: 1;
    height: 0;
    overflow-y: auto;
}

#rightBox .navigation .action {
    height: 50px;
    width: 50px;
    margin: 15px;
    font-size: 18px;
}

#rightBox .navigation .action.active {
    color: white;
    background-color: rgb(21, 148, 252);
    border-color: transparent;
}

#rightBox .info {
    display: flex;
    flex-flow: column;
    border-top: 1px solid whitesmoke;
    text-align: center;
}

#rightBox .info .time-left {
    margin: 15px auto 15px auto;
    color: dimgrey;
    font-size: 14px;
}

#contestTimer {
    color: black;
    font-size: 20px;
    line-height: 35px;
}

#rightBox .info .action {
    height: 50px;
    width: 50px;
    margin: 0 auto 15px auto;
    font-size: 16px;
}

@media (max-width: 1200px) {
    #statementsBox.collapsed {
        flex: 0;
    }

    #statementsBox.collapsed > * {
        display: none;
    }
}

@media (max-width: 600px) {
    #statementsBox .problem-name {
        visibility: hidden;
    }

    #submitBox main .submit-form-label.collapsible {
        display: none;
    }

    #submissionsTable .language {
        display: none;
    }
}
