.problem-statement {
    margin: 1em auto 2em auto;
}

/* .problem-statement .epigraph {
    margin-left: 67%;
    width: 33%;
}

.problem-statement .epigraph-text {
}

.problem-statement .epigraph-source {
    border-top: 1px solid #888;
    text-align: right;
} */

.problem-statement .header {
    margin-bottom: 1.5em;
    border: 1px solid #888;
    border-radius: 8px;
    background-color: #EEE;
}

.problem-statement .header .title {
    display: none;
}

.problem-statement .property-title {
    display: inline;
}

.problem-statement .property-title:after {
    content: ": ";
}

.problem-statement .time-limit, .problem-statement .memory-limit, .problem-statement .input-file, .problem-statement .output-file {
    padding: 8px;
}

.problem-statement .time-limit, .problem-statement .memory-limit, .problem-statement .input-file {
    border-bottom: 1px solid #888;
}

.problem-statement .legend {
    margin-bottom: 1em;
}

.problem-statement .section-title {
    font-size: 150%;
}

.problem-statement .sample-tests .input {
    border: 1px solid #888;
    border-radius: 8px 8px 0 0;
}

.problem-statement .sample-tests .output {
    border: 1px solid #888;
    border-radius: 0 0 8px 8px;
}

.problem-statement .sample-tests .output {
    margin-bottom: 1em;
    position: relative;
    top: -1px;
}

.problem-statement .sample-tests pre {
    padding: 8px;
    margin: 0;
}

.problem-statement .sample-tests .title {
    font-size: 110%;
    padding: 8px;
    border-bottom: 1px solid #888;
    background-color: #DDD;
}

.problem-statement .sample-tests .input .title {
    border-radius: 8px 8px 0 0;
}

/* .problem-statement .tex-formula {
    vertical-align: middle;
    margin: 0;
    border:medium none;
    position: relative;
    bottom: 2px;
}

.problem-statement .tex-span {
    font-size: 125%;
    font-family: times new roman;
    white-space: nowrap;
}

.problem-statement .tex-font-size-tiny {
    font-size: 70%;
}

.problem-statement .tex-font-size-script {
    font-size: 75%;
}

.problem-statement .tex-font-size-footnotes {
    font-size: 85%;
}

.problem-statement .tex-font-size-small {
    font-size: 85%;
}

.problem-statement .tex-font-size-normal {
    font-size: 100%;
}

.problem-statement .tex-font-size-large-1 {
    font-size: 115%;
}

.problem-statement .tex-font-size-large-2 {
    font-size: 130%;
}

.problem-statement .tex-font-size-large-3 {
    font-size: 145%;
}

.problem-statement .tex-font-size-huge-1 {
    font-size: 175%;
}

.problem-statement .tex-font-size-huge-2 {
    font-size: 200%;
}

.problem-statement .tex-font-style-rm {
}

.problem-statement .tex-font-style-sf {
    font-family: arial;
}

.problem-statement .tex-font-style-striked {
    text-decoration: line-through;
}

.problem-statement .tex-font-style-tt {
    font-size: 110%;
    font-family: courier new;
}

.problem-statement .tex-font-style-md {
}

.problem-statement .tex-font-style-bf {
    font-weight: bold;
}

.problem-statement .tex-font-style-underline {
    text-decoration: underline;
}

.problem-statement .tex-font-style-up {
}

.problem-statement .tex-font-style-it {
    font-style: italic;
}

.problem-statement .tex-font-style-sl {
    font-style: italic;
}

.problem-statement .tex-font-style-sc {
    text-transform: uppercase;
}

.problem-statement .tex-graphics {
    max-width: 75%;
    display: block;
} */
