#box {
    margin-bottom: auto;
    width: 100%;
    box-shadow: 0 0 10px lightgrey;
}

#header {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
}

#title {
    margin-right: auto;
    font-size: 30px;
}

#login {
    font-size: 20px;
}

#body {
    padding: 25px;
}

#label {
    margin-left: 2px;
    margin-bottom: 25px;
    font-size: 20px;
}

#username, #email, #password, #confirmPassword {
    margin-top: 20px;
}

#footer {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-top: 30px;
}

#submitButton {
    margin-right: auto;
    font-size: 20px;
}

@media (min-width: 700px) {
    #box {
        margin: auto;
        width: 700px;
        border-radius: 10px;
    }

    #header {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    #body {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}
