{% extends 'base.html' %}

{% block app_content %}
<div class="container-fluid window">
    <div class="container">
        <form action="" method="POST" novalidate>
            <h1>Изменить пароль</h1>
            <br><br>
            {{ form.hidden_tag() }}
            <div class="form-group row">
                <div class="col-lg-2">
                    {{ form.old_password.label(class='col-form-label') }}
                </div>
                <div class="col-lg-10">
                    {% with class="form-control is-invalid" if form.old_password.errors else "form-control" %}
                    {{ form.old_password(class=class, placeholder="Old password") }}
                    {% endwith %}
                    {% for error in form.old_password.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-2">
                    {{ form.new_password.label(class='col-form-label') }}
                </div>
                <div class="col-lg-10">
                    {% with class="form-control is-invalid" if form.new_password.errors else "form-control" %}
                    {{ form.new_password(class=class, placeholder="New password") }}
                    {% endwith %}
                    {% for error in form.new_password.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-2">
                    {{ form.new_password2.label(class='col-form-label') }}
                </div>
                <div class="col-lg-10">
                    {% with class="form-control is-invalid" if form.new_password2.errors else "form-control" %}
                    {{ form.new_password2(class=class, placeholder="New password") }}
                    {% endwith %}
                    {% for error in form.new_password2.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-shadow">
                Изменить пароль
            </button>
        </form>
    </div>
</div>
{% endblock %}
