{% extends 'base.html' %}

{% block app_content %}
<div class="container-fluid window">
    <div class="container">
        <div class="d-flex flex-wrap">
            <h1 class="my-auto mr-auto">Контесты</h1>
            <h4 class="my-auto mr-2">Категория:</h4>
            <select class="form-control btn-shadow w-auto h-auto m-1">
                <option selected value="common">Общие</option>
            </select>
        </div>
        <br><hr>
        <script src="/static/js/timer.js"></script>
        {% for contest, request in contests %}
        {% with contest_url=contest.name|urlencode %}
        <div class="d-flex flex-wrap">
            {% if current_user.is_anonymous %}
            <div class="align-self-center mt-2 mr-auto">
                <label class="h4 mb-3">{{ contest.name }}</label>
                <div class="d-flex flex-wrap">
                    <p class="text-secondary mx-3 my-0">
                        Вы не вошли в систему
                    </p>
                </div>
            </div>
            <div class="align-self-center ml-auto mt-2">
                <a class="btn btn-lg btn-secondary btn-shadow font-weight-bold" href="/login">
                    Войти в систему <span class="fa fa-arrow-right"></span>
                </a>
            </div>
            {% elif contest.owner == current_user %}
            <div class="align-self-center mt-2 mr-auto">
                <label class="h4 mb-3">{{ contest.name }}</label>
                <div class="d-flex flex-wrap">
                    <p class="text-primary mx-3 my-0">Админ</p>
                    <p class="text-primary mx-3 my-0">
                        <span class="fa fa-clock"></span>
                        {{ contest.duration_in_minutes() }} минут
                    </p>
                    <p class="text-primary mx-3 my-0">
                        <span class="fa fa-users"></span>
                        {{ contest.contest_requests.count() }} участников
                    </p>
                    <p class="text-primary mx-3 my-0">
                        <span class="fa fa-tasks"></span>
                        {{ contest.problems.count() }} заданий
                    </p>
                    <a class="text-primary mx-3 my-0" href="/contests/{{ contest_url }}/results">
                        Результаты
                    </a>
                </div>
            </div>
            <div class="align-self-center ml-auto mt-2">
                <a class="btn btn-lg btn-info btn-shadow font-weight-bold" href="/contests/{{ contest_url }}/admin">
                    Просмотр <span class="fa fa-arrow-right"></span>
                </a>
            </div>
            {% elif request == None %}
            <div class="align-self-center mt-2 mr-auto">
                <label class="h4 mb-3">{{ contest.name }}</label>
                <div class="d-flex flex-wrap">
                    <p class="text-secondary mx-3 my-0">До начала</p>
                    <p class="text-secondary mx-3 my-0">
                        <span class="fa fa-clock"></span>
                        {{ contest.duration_in_minutes() }} минут
                    </p>
                    <p class="text-secondary mx-3 my-0">
                        <span class="fa fa-tasks"></span>
                        {{ contest.problems.count() }} заданий
                    </p>
                </div>
            </div>
            <div class="align-self-center ml-auto mt-2">
                <button type="button" class="btn btn-lg btn-secondary btn-shadow font-weight-bold"
                data-toggle="modal" data-target="#start_{{ contest.id }}">
                    Участвовать <span class="fa fa-arrow-right"></span>
                </button>
            </div>
            {% elif request.state() == 'In progress' %}
            <div class="align-self-center mt-2 mr-auto">
                <label class="h4 mb-3">{{ contest.name }}</label>
                <div class="d-flex flex-wrap">
                    <p class="text-primary mx-3 my-0">В процессе</p>
                    <p class="text-primary mx-3 my-0">
                        <span class="fa fa-clock"></span>
                        <span id="timer_{{ contest.id }}">
                            {{ request.time_remaining().total_seconds() }}
                        </span>
                    </p>
                    <p class="text-primary mx-3 my-0">
                        Баллы: {{ contest.total_score(current_user) }} / {{ contest.total_maxscore() }}
                    </p>
                    <a class="text-primary mx-3 my-0" href="/contests/{{ contest_url }}/results">
                        Текущие результаты
                    </a>
                    <script>
                        start_timer('timer_{{ contest.id }}', -1);
                    </script>
                </div>
            </div>
            <div class="align-self-center ml-auto mt-2">
                <a class="btn btn-lg btn-info btn-shadow font-weight-bold" href="/contests/{{ contest_url }}/1">
                    Продолжить <span class="fa fa-arrow-right"></span>
                </a>
            </div>
            {% else %}
            <div class="align-self-center mt-2 mr-auto">
                <label class="h4 mb-3">{{ contest.name }}</label>
                <div class="d-flex flex-wrap">
                    <p class="text-success mx-3 my-0">Завершён</p>
                    <p class="text-success mx-3 my-0">
                        Баллы: {{ contest.total_score(current_user) }} / {{ contest.total_maxscore() }}
                    </p>
                    <a class="text-success mx-3 my-0" href="/contests/{{ contest_url }}/results">
                        Результаты
                    </a>
                </div>
            </div>
            <div class="align-self-center ml-auto mt-2">
                <a class="btn btn-lg btn-success btn-shadow font-weight-bold" href="/contests/{{ contest_url }}/1">
                    Просмотр <span class="fa fa-arrow-right"></span>
                </a>
            </div>
            {% endif %}
        </div>
        <hr>
        {% endwith %}
        {% endfor %}
    </div>
</div>
{% for contest, request in contests %}
{% with contest_url=contest.name|urlencode %}
<div class="modal fade" id="start_{{ contest.id }}">
    <div class="modal-lg modal-dialog centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Начать контест</h5>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Информация о контесте:</p>
                <ul>
                    <li>Название: {{ contest.name }}</li>
                    <li>Продолжительность: {{ contest.duration_in_minutes() }} минут</li>
                    <li>Количество заданий: {{ contest.problems.count() }}</li>
                </ul>
                <p>Приостановить выполнение заданий будет невозможно.<br>Вы уверены, что хотите продолжить?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-success btn-shadow" href="/contests/{{ contest_url }}/start">
                    Участвовать
                </a>
                <button class="btn btn-shadow" data-dismiss="modal">
                    Отмена
                </button>
            </div>
        </div>
    </div>
</div>
{% endwith %}
{% endfor %}
{% endblock %}
