{% extends "base.html" %}

{% block content %}
<div class="page">
    <div id="box">
        <div class="bg-green" id="header">
            <div id="title">
                Register for the contest
            </div>
            <a href="/contests" class="link hover-underline" id="goBack">
                Back to contests
            </a>
        </div>
        <div class="bg-white" id="body">
            <div id="contestName">
                {{ contest.name }}
            </div>
            <div id="contestInfo">
                <p>This is a virtual contest, that means you can start participating at any moment. Please read the <a href="/rules">rules</a> first. Here is some additional information about the contest:</p>
                <li>Contest duration: {{ contest.duration }}</li>
                <li>Number of tasks: {{ contest.problems.count() }}</li>
            </div>
            <div id="footer">
                <a href="/contests/{{ contest.id }}/participate" class="btn btn-normal btn-green" id="start">
                    Participate now
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
