{% extends "base.html" %}

{% block content %}
<div class="page">
    <div id="content">
        <div class="bg-grey" id="header">
            <div id="title">
                Contests
            </div>
            <a href="/logout" class="flat-link hover-underline" id="logout">
                Log out
            </a>
        </div>
        <div class="bg-white" id="body">
            {% for contest, contest_request in contests %}
            <a href="/contests/{{ contest.id }}" class="contest-row">
                <div class="contest-label">
                    {{ contest.name }}
                </div>
                <div class="contest-details">
                    {% if contest_request == None or contest_request.state() == 'Not started' %}
                    <div class="contest-status col-grey">
                        Not started yet
                    </div>
                    {% elif contest_request.state() == 'In progress' %}
                    <div class="contest-status col-blue">
                        Time remaining:
                        <span name="timer" format="full">
                            {{ contest_request.time_remaining().total_seconds() }}
                        </span>
                    </div>
                    {% elif contest_request.state() == 'Finished' %}
                    <div class="contest-status col-green">
                        Finished
                    </div>
                    {% endif %}
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
<script src="/static/js/timer.js"></script>
{% endblock %}
