{% extends "base.html" %}

{% block content %}
<div class="page">
    <div class="box">
        <header class="bg-blue">
            <h2>Sign in</h2>
            <a href="/register" class="link hover-underline">
                Sign up
            </a>
        </header>
        <main class="bg-white">
            <form action="" method="POST">
                <h4>Please sign in.</h4>
                <section>
                    <input class="input input-blue" placeholder="Username" name="username" spellcheck="false">
                </section>
                <section>
                    <input type="password" class="input input-blue" placeholder="Password" name="password">
                </section>
                <section class="actions">
                    <button type="submit" class="btn btn-blue">
                        Sign in
                    </button>
                    <a href="/restorePassword" class="link hover-underline">
                        Forgot password?
                    </a>
                </section>
            </form>
        </main>
    </div>
</div>
{% endblock %}
