{% extends "base_new.html" %}

{% block content %}
<div class="page">
    <div id="content">
        <div class="bg-white" id="statementsBox">
            <div id="statementsTitle">
                <a href="/contests" class="btn-icon btn-white" id="goBack">
                    <span class="fa fa-arrow-left"></span>
                </a>
                <div id="problemInfo">
                    <div id="problemName">
                        {{ problem_manager.problem_name() }}
                    </div>
                    <div id="problemLimits">
                        <div id="timeLimit">
                            <span class="fa fa-clock"></span>
                            {{ (problem_manager.time_limit_ms / 1000) | round(2) }} sec
                        </div>
                        <div id="memoryLimit">
                            <span class="fa fa-microchip"></span>
                            {{ problem_manager.memory_limit_kb // 1024 }} MB
                        </div>
                    </div>
                    <div id="problemScore">
                        Score: {{ problem.score(current_user) }} / {{ problem.max_score }}
                    </div>
                </div>
            </div>
            <div id="statementsContent">
                <div id="statementsContentScrollable">
                    <div href="/contests/{{ contest.id }}/{{ problem.number }}/problem.html" id="statementsLoadedContent"></div>
                    <script type="text/x-mathjax-config">
                        MathJax.Hub.Config({
                            messageStyle: "none"
                        });
                        MathJax.Hub.Queue(function () {
                            document.getElementById("statementsLoading").style.display = "none";
                        });
                    </script>
                </div>
                <div class="bg-white" id="statementsLoading">
                    <div id="statementsLoadingLabel">
                        <div class="lds-ring">
                            <div></div><div></div><div></div><div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white collapsed" id="extraBox">
            <div id="submitBox">
                <div class="bg-green" id="submitTitle">
                    <div id="submitText">
                        Submit solution
                    </div>
                </div>
                <div id="submitContent">
                    <div id="submitForm">
                        <div id="taskRow">
                            <div id="taskLabel">
                                Select task:
                            </div>
                            <select class="select-small select-white" id="taskSelect">
                                {% for any_problem in contest.problems %}
                                <option value="{{ any_problem.number }}">
                                    Task {{ any_problem.number }}: {{ any_problem.get_name() }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="languageRow">
                            <div id="languageLabel">
                                Select language:
                            </div>
                            <select class="select-small select-white" id="languageSelect">
                                <option value="cpp">GNU C++ 9.2.0</option>
                                <option value="py">Python 3.8</option>
                            </select>
                        </div>
                        <div id="chooseFileRow">
                            <div id="chooseFileLabel">
                                Choose file:
                            </div>
                            <input type="file" id="chooseFileInput">
                            <label for="chooseFileInput" class="btn-small btn-blue" id="chooseFileButton">
                                Choose file
                            </label>
                            <div id="chooseFileName">
                            </div>
                        </div>
                        <div id="submitFileRow">
                            <div id="submitFileLabel">
                                Submit:
                            </div>
                            <button class="btn-small btn-green" id="submitFileButton">
                                Submit it!
                            </button>
                            <div id="submitLoading" style="display: none;">
                                <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                            </div>
                            <div id="submitSuccess" style="display: none;">
                                <span class="fa fa-check"></span>
                                Submitted
                            </div>
                            <div id="submitFail" style="display: none;">
                            </div>
                        </div>
                    </div>
                    <div id="submissions">
                        <table id="submissionsTable">
                        <thead>
                            <th class="id">ID</th>
                            <th class="language">Language</th>
                            <th class="status">Status</th>
                            <th class="score">Score</th>
                            <th class="details">Details</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="id">11</td>
                                <td class="language">GNU C++ 9.2.0</td>
                                <td class="status">OK</td>
                                <td class="score">100</td>
                                <td class="details">
                                    <button class="flat-link link-blue">Details</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="id">10</td>
                                <td class="language">GNU C++ 9.2.0</td>
                                <td class="status">In queue</td>
                                <td class="score">&mdash;</td>
                                <td class="details">
                                    <button class="flat-link link-blue">Details</button>
                                </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="contestInfoBox">
                <div class="bg-blue" id="contestInfoTitle">
                    <div id="contestInfoLabel">
                        Contest information
                    </div>
                </div>
                <div id="contestInfoContent">
                    Information here
                </div>
            </div>
            <div id="contestMessagesBox">
                <div class="bg-yellow" id="contestMessagesTitle">
                    <div id="contestMessagesLabel">
                        Contest messages
                    </div>
                </div>
                <div id="contestMessagesContent">
                    Messages here
                </div>
            </div>
            <button class="btn-icon" id="extraBoxCollapse">
                <span class="fa fa-arrow-right"></span>
            </button>
        </div>
        <div class="bg-white" id="rightBox">
            <div id="submitSection">
                <button class="btn-icon btn-green" id="submitExpand">
                    <span class="fa fa-paper-plane"></span>
                </button>
            </div>
            <div id="problemNavigation">
                {% for any_problem in contest.problems %}
                {% with class = "active" if any_problem.number == problem.number else "btn-white" %}
                <a href="/contests/{{ contest.id }}/{{ any_problem.number }}/problem" class="btn-icon action {{ class }}">
                    <span>{{ any_problem.number }}</span>
                </a>
                {% endwith %}
                {% endfor %}
            </div>
            <div id="infoSection">
                <div id="timeRemaining">
                    Time left:<br>
                    <span id="contestTimer" name="timer" format="minutes">
                        {{ contest_request.time_remaining().total_seconds() }}
                    </span>
                </div>
                <button class="btn-icon btn-blue" id="viewContestInfo">
                    <span class="fa fa-info"></span>
                </button>
                <button class="btn-icon btn-yellow" id="viewContestMessages">
                    <span class="fa fa-comment-alt"></span>
                </button>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/static/js/timer.js"></script>
<script src="/static/js/problem.js"></script>
{% endblock %}
