{% extends "base.html" %}

{% block content %}
<div class="page">
    <div id="box">
        <form action="" method="POST">
            <div class="bg-green" id="header">
                <div id="title">
                    Sign up
                </div>
                <a href="/login" class="link hover-underline" id="login">
                    Sign in
                </a>
            </div>
            <div class="bg-white" id="body">
                <div id="label">
                    Please fill in all fields.
                </div>
                <div id="username">
                    <input class="input input-green" placeholder="Username" name="username" spellcheck="false" id="usernameInput">
                </div>
                <div class="col-red" id="usernameHint"></div>
                <div id="email">
                    <input class="input input-green" placeholder="Email" name="email" spellcheck="false" id="emailInput">
                </div>
                <div class="col-red" id="emailHint"></div>
                <div id="password">
                    <input type="password" class="input input-green" placeholder="Password" name="password" id="passwordInput">
                </div>
                <div class="col-red" id="passwordHint"></div>
                <div id="confirmPassword">
                    <input type="password" class="input input-green" placeholder="Confirm password" name="password2" id="confirmPasswordInput">
                </div>
                <div class="col-red" id="confirmPasswordHint"></div>
                <div id="footer">
                    <button type="button" class="btn btn-green" id="submitButton">
                        Sign up
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/static/js/register.js"></script>
{% endblock %}
