{% extends "base.html" %}

{% block app_content %}
<div class="container-fluid window">
    <div class="container">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <h1>Восстановить пароль</h1>
            <br><br>
            <h5>Здесь вы можете восстановить ваш пароль.</h5>
            <h5>Для этого необходимо всего лишь ввести логин.</h5>
            <br>
            <div class="form-group">
                {{ form.username(class="form-control", placeholder="Username") }}
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-shadow">
                Продолжить <span class="fa fa-arrow-right"></span>
            </button>
        </form>
    </div>
</div>
{% endblock %}
