{% extends 'base.html' %}

{% block app_content %}
<div class="container-fluid window">
    <div class="container">
        <form action="restore" method="POST" novalidate>
            <h1>Восстановление пароля</h1>
            <br><br>
            {{ form.hidden_tag() }}
            <div class="form-group row">
                <div class="col-lg-2">
                    {{ form.username.label(class="col-form-label") }}
                </div>
                <div class="col-lg-10">
                    {% with class="form-control is-invalid" if form.username.errors else "form-control" %}
                    {{ form.username(class=class, placeholder="Username") }}
                    {% endwith %}
                    {% for error in form.username.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-shadow">
                Продолжить <span class="fa fa-arrow-right"></span>
            </button>
        </form>
    </div>
</div>
{% endblock %}
