{% extends 'base.html' %}

{% block app_content %}
<div class="container-fluid window">
    <div class="container">
        <form action="" method="POST" novalidate>
            <h1>Восстановить пароль</h1>
            <br><br>
            <h5>Здесь вы можете восстановить ваш пароль.</h5>
            <h5>Для этого необходимо всего лишь ввести логин.</h5>
            <br>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {% with class="form-control is-invalid" if form.username.errors else "form-control" %}
                {{ form.username(class=class, placeholder="Username") }}
                {% endwith %}
                {% for error in form.username.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-shadow">
                Продолжить <span class="fa fa-arrow-right"></span>
            </button>
        </form>
    </div>
</div>
{% endblock %}
