{% extends "base.html" %}

{% block app_content %}
<div class="container-fluid window">
    <div class="container">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <h1>Введите код</h1>
            <br><br>
            <h5>Код подтверждения был отправлен на почту {{ user.email }}.</h5>
            <h5>Дождитесь его получения, это может занять несколько минут.</h5>
            <br>
            <div class="form-group">
                {{ form.code(class="form-control", placeholder="Code") }}
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-shadow">
                Продолжить <span class="fa fa-arrow-right"></span>
            </button>
        </form>
    </div>
</div>
{% endblock %}
